<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>JMR Simulados</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="wrapper">
		<div class="cover">
			<header class="header">
				<div class="container">
					<nav class="navbar navbar-expand-lg align-content-center px-0">
						<a class="navbar-brand logo" th:href="@{/index}"></a>
					</nav>
				</div>
		</div>
		</header>
		<div class="jumbotron jumbotron-fluid bg-transparent hero section m-0">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-lg-6 mr-lg-auto">
						<div class="hero-content">
							<h1 class="hero-title">JMR Simulados</h1>
							<div class="space-md"></div>
							<p class="lead">Site densenvolvido para auxiliar no
								aprendizado, ajudando alunos.</p>
							<form>
								<div class="mb-3">
									<label for="txtEmail" class="form-label">E-mail</label>
									<input type="email" class="form-control"
										id="exampleInputEmail1" aria-describedby="emailHelp" required>
								</div>
								<div class="mb-3">
									<label for="txtSenha" class="form-label">Senha</label>
									<input type="password" class="form-control"
										id="exampleInputPassword1" required>
								</div>
								<div class="space-md">
									<a class="btn btn-primary" th:href="@{/home}" role="button">Entrar</a>
								</div>
								<div id="emailHelp" class="form-text">
									Não tem cadrastro?<a th:href="@{/cadastro}">Faça agora</a>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="text-center">
							<ul class="nav justify-content-center">
								<li class="nav-item"><a href="#" class="nav-link">Home</a></li>
								<li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
								<li class="nav-item"><a href="#" class="nav-link">Facebook</a></li>
								<li class="nav-item"><a href="#" class="nav-link">Twitter</a></li>
							</ul>
							<div class="copyright">&copy; Densenvolvido por Jhordana
								Lopes, Maria Clara Altina e Rayssa Karolainy</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="./assets/vendors/jquery/jquery.min.js"></script>
	<script src="./assets/vendors/bootstrap/js/popper.min.js"></script>
	<script src="./assets/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="./assets/js/main.js"></script>
</body>