
<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>JMR Simulados</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="wrapper">
		<div class="cover">
			<header class="header">
				<div class="container">
					<nav class="navbar navbar-expand-lg align-content-center px-0">
						<a class="navbar-brand logo" href="index.html"></a>
						<div class="collapse navbar-collapse" id="menu">
							<ul class="navbar-nav ml-lg-auto">
								<li class="nav-item"><a class="nav-link" th:href="@{/home}">Voltar</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
		</div>
		</header>
		<div class="jumbotron jumbotron-fluid bg-transparent hero section m-0">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-lg-6 mr-lg-auto">
						<div class="hero-content text-center text-lg-left">
							<h1 class="hero-title">Seu Perfil</h1>

							<tr th:each="aluno : ${aluno}">
								<td th:text="${aluno.id}"></td>
								<td th:text="${aluno.nome}"></td>
								<td th:text="${aluno.senha}"></td>
								<td><a class="btn btn-success"
									th:href="@{/aluno/alterar/{id}(id=${aluno.id})}"> Alterar</a> <a
									class="btn btn-danger">Excluir</a></td>
							</tr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<div class="space-md"></div>
</div>
</div>
</div>
</div>
</div>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="text-center">
					<ul class="nav justify-content-center">
						<li class="nav-item"><a href="#" class="nav-link">Home</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Facebook</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Twitter</a></li>
					</ul>
					<div class="copyright">&copy; Densenvolvido por Jhordana
						Lopes, Maria Clara Altina e Rayssa Karolainy</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
<script src="./assets/vendors/jquery/jquery.min.js"></script>
<script src="./assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="./assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="./assets/js/main.js"></script>
</body>